#wrapper {
    display: flex;
    min-height: 100vh;
}
#sidebar-wrapper {
    width: 220px;
}
#page-content-wrapper {
    flex: 1;
}
@media (max-width: 768px) {
    #wrapper {
        flex-direction: column;
    }
    #sidebar-wrapper {
        width: 100%;
    }
}
