{% extends 'layout.html' %}
{% block title %}Skor Alternatif{% endblock %}
{% block content %}
<h2>Hasil Skoring Alternatif</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ranking</th>
            <th>Alternatif</th>
            <th>Skor Total</th>
        </tr>
    </thead>
    <tbody>
        {% for item in hasil %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ item.nama_alternatif }}</td>
            <td>{{ "%.4f"|format(item.skor) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
